* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.link {
  margin-left: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  justify-content: center;
  width: 1080px;
  margin-top: 10px;
  margin-left: 140px;
}

.cards {
  width: 380px;
  height: 470px;
  background-color: lightgrey;
  padding: 15px;
  border-radius: 20px;

}

.cards img {
  width: 350px;
  height: 350px;

}

.cards p {
  font-size: medium;
  margin-top: 5px;
  color: #000;
  font-weight: normal;
}

.btn {
  width: 140px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  background-color: #000;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.busket {
  margin-top: 10px;
}